BeautifulSoup==3.2.1
Django==1.7
Embedly==0.5.0
Jinja2==2.7.3
Markdown==2.5.1
MarkupSafe==0.23
Pattern==2.6
Pillow==2.6.0
PyFlickrStreamr==0.1
PyYAML==3.11
Pygments==1.6
South==1.0
Sphinx==1.2.3
Twisted==13.2.0
Unidecode==0.04.16
argparse==1.2.1
beautifulsoup4==4.3.2
binaryornot==0.3.0
cffi==0.8.6
cookiecutter==0.7.2
coverage==3.7.1
cryptography==0.6
cssselect==0.9.1
cyclone==1.1
decorator==3.3.2
defer==1.0.2
dj-database-url==0.3.0
django-allauth==0.18.0
django-appconf==0.6
django-autoslug==1.7.2
django-avatar==2.0
django-braces==1.4.0
django-cache-url==0.8.0
django-configurations==0.8
django-crispy-forms==1.4.0
django-debug-toolbar==1.2.1
django-filter==0.8
django-floppyforms==1.2.0
django-guardian==1.2.4
django-model-utils==2.2
django-secure==1.0
django-socialnetworks==0.4.4
django-suit==0.2.11
django-taggit==0.12.2
django-userena==1.3.0
djangorestframework==2.4.3
docutils==0.11
easy-thumbnails==2.2
facebook-sdk==0.4.0
feedparser==5.1.3
flickrapi==1.4.2
fuzzywuzzy==0.3.2
gdata==2.0.18
google-api-python-client==1.2
goose-extractor==1.0.22
html2text==2014.9.25
httplib2==0.9
ipdb==0.8
ipython==1.1.0
jieba==0.33
lettuce==0.2.19
lxml==3.4.0
mongoengine==0.8.7
nltk==3.0.0
oauth==1.0.1
oauthlib==0.6.1
psycopg2==2.5.4
pyOpenSSL==0.14
pycparser==2.10
pycurl==7.19.0
pymongo==2.6.3
pyslideshare2==0.3
pyteaser==1.0
python-openid==2.2.5
pytz==2014.7
requests==2.1.0
requests-oauthlib==0.4.0
six==1.8.0
sqlparse==0.1.13
sure==1.2.7
tldextract==1.5
tornado==2.1
tweepy==2.2
twistedhttpstream==0.0.1
twitter==1.14.2
twython==3.1.2
unicode-slugify==0.1.1
virtualenv==1.11.5
wsgiref==0.1.2
zope.interface==4.1.1
